automation/n8n-workflow.json
{
    "name": "LinkedIn AI Content Engine",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "cronExpression",
                            "expression": "0 9,16 * * *"
                        }
                    ]
                },
                "timezone": "America/Chicago"
            },
            "id": "cron-trigger",
            "name": "Schedule Trigger",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "// Load the content rotation logic\nconst currentHour = new Date().getHours();\nconst templateRotation = ['interview_explainer', 'architecture', 'optimization', 'layered'];\n\n// Get state from previous runs (stored in n8n)\nconst lastTemplateIndex = $node['Get State'].json.lastTemplateIndex || 0;\nconst usedTopics = $node['Get State'].json.usedTopics || {};\n\n// Rotate to next template\nconst currentTemplateIndex = (lastTemplateIndex + 1) % templateRotation.length;\nconst currentTemplate = templateRotation[currentTemplateIndex];\n\n// Get topics for this template\nconst topicBank = $input.item.json.topicBank;\nconst availableTopics = topicBank[currentTemplate];\n\n// Filter out recently used topics\nconst recentlyUsed = usedTopics[currentTemplate] || [];\nconst freshTopics = availableTopics.filter(t => !recentlyUsed.includes(t));\n\n// If all topics used, reset\nconst topicsToUse = freshTopics.length > 0 ? freshTopics : availableTopics;\nconst selectedTopic = topicsToUse[0];\n\n// Update used topics tracking\nif (!usedTopics[currentTemplate]) {\n  usedTopics[currentTemplate] = [];\n}\nusedTopics[currentTemplate].push(selectedTopic);\n\n// Keep only last 3 used topics per template\nif (usedTopics[currentTemplate].length > 3) {\n  usedTopics[currentTemplate].shift();\n}\n\nreturn {\n  json: {\n    template: currentTemplate,\n    topic: selectedTopic,\n    promptFile: `prompts/${currentTemplate.replace('_', '-')}.md`,\n    timestamp: new Date().toISOString(),\n    newState: {\n      lastTemplateIndex: currentTemplateIndex,\n      usedTopics: usedTopics\n    }\n  }\n};"
            },
            "id": "content-planner",
            "name": "Plan Content",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                650,
                300
            ]
        },
        {
            "parameters": {
                "authentication": "oAuth2",
                "resource": "file",
                "operation": "get",
                "owner": "{{ $json.repo_owner }}",
                "repository": "{{ $json.repo_name }}",
                "filePath": "={{ $node['Plan Content'].json.promptFile }}"
            },
            "id": "fetch-prompt",
            "name": "Fetch Prompt",
            "type": "n8n-nodes-base.github",
            "typeVersion": 1,
            "position": [
                850,
                200
            ]
        },
        {
            "parameters": {
                "authentication": "oAuth2",
                "resource": "file",
                "operation": "get",
                "owner": "{{ $json.repo_owner }}",
                "repository": "{{ $json.repo_name }}",
                "filePath": "content-spec/tone.md"
            },
            "id": "fetch-tone",
            "name": "Fetch Tone",
            "type": "n8n-nodes-base.github",
            "typeVersion": 1,
            "position": [
                850,
                300
            ]
        },
        {
            "parameters": {
                "authentication": "oAuth2",
                "resource": "file",
                "operation": "get",
                "owner": "{{ $json.repo_owner }}",
                "repository": "{{ $json.repo_name }}",
                "filePath": "content-spec/visual-rules.md"
            },
            "id": "fetch-visual-rules",
            "name": "Fetch Visual Rules",
            "type": "n8n-nodes-base.github",
            "typeVersion": 1,
            "position": [
                850,
                400
            ]
        },
        {
            "parameters": {
                "authentication": "oAuth2",
                "resource": "file",
                "operation": "get",
                "owner": "{{ $json.repo_owner }}",
                "repository": "{{ $json.repo_name }}",
                "filePath": "topics/topic-bank.json"
            },
            "id": "fetch-topics",
            "name": "Fetch Topics",
            "type": "n8n-nodes-base.github",
            "typeVersion": 1,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "model": "gpt-4",
                "messages": {
                    "values": [
                        {
                            "role": "system",
                            "content": "You are a LinkedIn content creator for a senior data/AI engineer. Generate professional, educational content following the provided template and tone."
                        },
                        {
                            "role": "user",
                            "content": "=Template:\n{{ $node['Fetch Prompt'].json.content }}\n\nTone:\n{{ $node['Fetch Tone'].json.content }}\n\nVisual Rules:\n{{ $node['Fetch Visual Rules'].json.content }}\n\nTopic: {{ $node['Plan Content'].json.topic }}\n\nGenerate a LinkedIn post with:\n1. Caption (6-12 lines, ending with a thoughtful question)\n2. Image text with title and 3-5 bullet points\n3. 5-8 relevant hashtags\n\nReturn as JSON: {\"caption\": \"...\", \"imageTitle\": \"...\", \"imageBullets\": [...], \"hashtags\": [...]}"
                        }
                    ]
                },
                "options": {
                    "temperature": 0.7,
                    "maxTokens": 800
                }
            },
            "id": "generate-content",
            "name": "Generate Content",
            "type": "n8n-nodes-base.openAi",
            "typeVersion": 1,
            "position": [
                1050,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "// Parse the OpenAI response\nconst aiResponse = $input.item.json.choices[0].message.content;\n\n// Extract JSON from response (handle potential markdown code blocks)\nlet contentData;\ntry {\n  const jsonMatch = aiResponse.match(/\\{[\\s\\S]*\\}/);\n  contentData = JSON.parse(jsonMatch ? jsonMatch[0] : aiResponse);\n} catch (e) {\n  throw new Error('Failed to parse AI response as JSON: ' + aiResponse);\n}\n\n// Validate required fields\nif (!contentData.caption || !contentData.imageTitle || !contentData.imageBullets) {\n  throw new Error('Missing required fields in AI response');\n}\n\nreturn {\n  json: {\n    caption: contentData.caption,\n    imageTitle: contentData.imageTitle,\n    imageBullets: contentData.imageBullets,\n    hashtags: contentData.hashtags || [],\n    fullCaption: `${contentData.caption}\\n\\n${contentData.hashtags.map(h => '#' + h).join(' ')}`,\n    topic: $node['Plan Content'].json.topic,\n    template: $node['Plan Content'].json.template,\n    timestamp: $node['Plan Content'].json.timestamp\n  }\n};"
            },
            "id": "parse-content",
            "name": "Parse Content",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1250,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.canva.com/v1/designs",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer {{ $credentials.canvaApiKey }}"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "design_type",
                            "value": "InstagramPost"
                        },
                        {
                            "name": "title",
                            "value": "={{ $json.imageTitle }}"
                        },
                        {
                            "name": "elements",
                            "value": "={{ JSON.stringify({ text: { title: $json.imageTitle, bullets: $json.imageBullets } }) }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "generate-image",
            "name": "Generate Image (Canva)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1450,
                300
            ],
            "notes": "Alternative: Use HTTP Request to your preferred image service"
        },
        {
            "parameters": {
                "resource": "post",
                "text": "={{ $node['Parse Content'].json.fullCaption }}",
                "additionalFields": {
                    "mediaUrl": "={{ $node['Generate Image (Canva)'].json.url }}"
                }
            },
            "id": "post-linkedin",
            "name": "Post to LinkedIn",
            "type": "n8n-nodes-base.linkedIn",
            "typeVersion": 1,
            "position": [
                1650,
                300
            ]
        },
        {
            "parameters": {
                "authentication": "oAuth2",
                "resource": "file",
                "operation": "edit",
                "owner": "={{ $json.repo_owner }}",
                "repository": "={{ $json.repo_name }}",
                "filePath": "automation/post_log.json",
                "fileContent": "={{ JSON.stringify($node['Build Log Entry'].json, null, 2) }}",
                "commitMessage": "chore: log post {{ $node['Parse Content'].json.timestamp }}"
            },
            "id": "log-to-github",
            "name": "Log to GitHub",
            "type": "n8n-nodes-base.github",
            "typeVersion": 1,
            "position": [
                2050,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "// Build log entry\nconst existing = $input.item.json.existingLog || [];\n\nconst newEntry = {\n  timestamp: $node['Parse Content'].json.timestamp,\n  template: $node['Parse Content'].json.template,\n  topic: $node['Parse Content'].json.topic,\n  status: 'published',\n  linkedinUrl: $node['Post to LinkedIn'].json.postUrl || 'N/A',\n  caption: $node['Parse Content'].json.caption.substring(0, 100) + '...',\n  hashtags: $node['Parse Content'].json.hashtags\n};\n\nexisting.unshift(newEntry);\n\n// Keep only last 100 entries\nif (existing.length > 100) {\n  existing.pop();\n}\n\nreturn {\n  json: {\n    posts: existing\n  }\n};"
            },
            "id": "build-log",
            "name": "Build Log Entry",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1850,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{ $node['Generate Content'].json.error }}",
                            "value2": true
                        }
                    ]
                }
            },
            "id": "error-check",
            "name": "Check for Errors",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                1150,
                500
            ]
        },
        {
            "parameters": {
                "fromEmail": "notifications@yourdomain.com",
                "toEmail": "your-email@example.com",
                "subject": "n8n LinkedIn Workflow Error",
                "text": "=Error occurred in LinkedIn automation workflow.\n\nTimestamp: {{ $node['Plan Content'].json.timestamp }}\nTemplate: {{ $node['Plan Content'].json.template }}\nTopic: {{ $node['Plan Content'].json.topic }}\n\nError: {{ $node['Generate Content'].json.error }}"
            },
            "id": "send-error-email",
            "name": "Send Error Alert",
            "type": "n8n-nodes-base.emailSend",
            "typeVersion": 2,
            "position": [
                1350,
                600
            ],
            "notes": "Alternative: Use Slack node for notifications"
        },
        {
            "parameters": {
                "mode": "raw",
                "jsonData": "{\n  \"lastTemplateIndex\": 0,\n  \"usedTopics\": {},\n  \"repo_owner\": \"jumahamdan\",\n  \"repo_name\": \"ai-data-content-engine\"\n}"
            },
            "id": "get-state",
            "name": "Get State",
            "type": "n8n-nodes-base.set",
            "typeVersion": 2,
            "position": [
                450,
                200
            ],
            "notes": "Replace with Redis/Database node for persistent state"
        }
    ],
    "connections": {
        "Schedule Trigger": {
            "main": [
                [
                    {
                        "node": "Get State",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Fetch Topics",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get State": {
            "main": [
                [
                    {
                        "node": "Plan Content",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch Topics": {
            "main": [
                [
                    {
                        "node": "Plan Content",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Plan Content": {
            "main": [
                [
                    {
                        "node": "Fetch Prompt",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Fetch Tone",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Fetch Visual Rules",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch Prompt": {
            "main": [
                [
                    {
                        "node": "Generate Content",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch Tone": {
            "main": [
                [
                    {
                        "node": "Generate Content",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch Visual Rules": {
            "main": [
                [
                    {
                        "node": "Generate Content",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Generate Content": {
            "main": [
                [
                    {
                        "node": "Parse Content",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Check for Errors",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Content": {
            "main": [
                [
                    {
                        "node": "Generate Image (Canva)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Generate Image (Canva)": {
            "main": [
                [
                    {
                        "node": "Post to LinkedIn",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Post to LinkedIn": {
            "main": [
                [
                    {
                        "node": "Build Log Entry",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Build Log Entry": {
            "main": [
                [
                    {
                        "node": "Log to GitHub",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check for Errors": {
            "main": [
                [
                    {
                        "node": "Send Error Alert",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    }
}