automation/n8n-workflow.json
{
    "name": "LinkedIn AI Content Engine",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "cronExpression",
                            "expression": "0 9,16 * * *"
                        }
                    ]
                },
                "timezone": "America/Chicago"
            },
            "id": "cron-trigger",
            "name": "Schedule Trigger",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1,
            "position": [250, 300]
        },
        {
            "parameters": {
                "authentication": "oAuth2",
                "resource": "file",
                "operation": "get",
                "owner": "jumahamdan",
                "repository": "ai-data-content-engine",
                "filePath": "topics/topic-bank.json",
                "asBinaryProperty": false
            },
            "id": "fetch-topics",
            "name": "Fetch Topics",
            "type": "n8n-nodes-base.github",
            "typeVersion": 1,
            "position": [450, 250]
        },
        {
            "parameters": {
                "authentication": "oAuth2",
                "resource": "file",
                "operation": "get",
                "owner": "jumahamdan",
                "repository": "ai-data-content-engine",
                "filePath": "automation/post_log.json",
                "asBinaryProperty": false
            },
            "id": "fetch-post-log",
            "name": "Fetch Post Log",
            "type": "n8n-nodes-base.github",
            "typeVersion": 1,
            "position": [450, 350]
        },
        {
            "parameters": {
                "mode": "combine",
                "combineBy": "combineAll",
                "options": {}
            },
            "id": "merge-inputs",
            "name": "Merge Inputs",
            "type": "n8n-nodes-base.merge",
            "typeVersion": 3,
            "position": [650, 300]
        },
        {
            "parameters": {
                "jsCode": "// Content rotation using post_log.json as source of truth\nconst templateRotation = ['interview_explainer', 'architecture', 'optimization', 'layered'];\n\n// Helper to parse GitHub file content\nfunction parseGitHubContent(nodeData) {\n  let content;\n  if (nodeData.binary && nodeData.binary.data) {\n    content = Buffer.from(nodeData.binary.data.data, 'base64').toString('utf8');\n  } else if (nodeData.content) {\n    content = Buffer.from(nodeData.content, 'base64').toString('utf8');\n  } else {\n    content = JSON.stringify(nodeData);\n  }\n  return JSON.parse(content.replace(/^\\uFEFF/, ''));\n}\n\n// Parse topic bank and post log from merged inputs\nconst topicBank = parseGitHubContent($node['Fetch Topics'].json);\nlet postLog;\ntry {\n  postLog = parseGitHubContent($node['Fetch Post Log'].json);\n} catch (e) {\n  postLog = { posts: [] };\n}\nconst posts = postLog.posts || [];\n\n// Determine last template from actual post history\nlet lastTemplateIndex = -1;\nif (posts.length > 0) {\n  const lastTemplate = posts[0].template;\n  lastTemplateIndex = templateRotation.indexOf(lastTemplate);\n}\n\n// Rotate to next template\nconst currentTemplateIndex = (lastTemplateIndex + 1) % templateRotation.length;\nconst currentTemplate = templateRotation[currentTemplateIndex];\n\n// Get recently used topics from post history (last 5 posts of this template)\nconst recentPostsOfTemplate = posts\n  .filter(p => p.template === currentTemplate)\n  .slice(0, 5);\nconst recentlyUsedTopics = recentPostsOfTemplate.map(p => p.topic);\n\n// Select fresh topic\nconst availableTopics = topicBank[currentTemplate] || [];\nif (availableTopics.length === 0) {\n  throw new Error('No topics found for template: ' + currentTemplate);\n}\n\nconst freshTopics = availableTopics.filter(t => !recentlyUsedTopics.includes(t));\nconst selectedTopic = freshTopics.length > 0 ? freshTopics[0] : availableTopics[0];\n\nconst promptFileMap = {\n  'interview_explainer': 'prompts/interview-explainer.md',\n  'architecture': 'prompts/architecture-comparison.md',\n  'optimization': 'prompts/optimization-story.md',\n  'layered': 'prompts/layered-mental-model.md'\n};\n\nreturn {\n  json: {\n    template: currentTemplate,\n    topic: selectedTopic,\n    promptFile: promptFileMap[currentTemplate],\n    timestamp: new Date().toISOString()\n  }\n};"
            },
            "id": "content-planner",
            "name": "Plan Content",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [850, 300]
        },
        {
            "parameters": {
                "authentication": "oAuth2",
                "resource": "file",
                "operation": "get",
                "owner": "jumahamdan",
                "repository": "ai-data-content-engine",
                "filePath": "={{ $json.promptFile }}",
                "asBinaryProperty": false
            },
            "id": "fetch-prompt",
            "name": "Fetch Prompt",
            "type": "n8n-nodes-base.github",
            "typeVersion": 1,
            "position": [1050, 250]
        },
        {
            "parameters": {
                "authentication": "oAuth2",
                "resource": "file",
                "operation": "get",
                "owner": "jumahamdan",
                "repository": "ai-data-content-engine",
                "filePath": "content-spec/tone.md",
                "asBinaryProperty": false
            },
            "id": "fetch-tone",
            "name": "Fetch Tone",
            "type": "n8n-nodes-base.github",
            "typeVersion": 1,
            "position": [1050, 350]
        },
        {
            "parameters": {
                "mode": "combine",
                "combineBy": "combineAll",
                "options": {}
            },
            "id": "merge-specs",
            "name": "Merge Specs",
            "type": "n8n-nodes-base.merge",
            "typeVersion": 3,
            "position": [1250, 300]
        },
        {
            "parameters": {
                "jsCode": "// Build OpenAI API request body\nconst promptContent = Buffer.from($node['Fetch Prompt'].json.content, 'base64').toString('utf8');\nconst toneContent = Buffer.from($node['Fetch Tone'].json.content, 'base64').toString('utf8');\nconst topic = $node['Plan Content'].json.topic;\n\nconst userMessage = `Template:\n${promptContent}\n\nTone Guidelines:\n${toneContent}\n\nTopic: ${topic}\n\nGenerate a LinkedIn text post with:\n1. Caption (6-12 lines, ending with a thoughtful question to engage readers)\n2. 5-8 relevant hashtags\n\nReturn as JSON: {\"caption\": \"...\", \"hashtags\": [...]}`;\n\nconst requestBody = {\n  model: 'chatgpt-4o-latest',\n  messages: [\n    {\n      role: 'system',\n      content: 'You are a LinkedIn content creator for a senior data/AI engineer. Generate professional, educational content following the provided template and tone guidelines.'\n    },\n    {\n      role: 'user',\n      content: userMessage\n    }\n  ],\n  temperature: 0.7,\n  max_tokens: 1000\n};\n\nreturn {\n  json: {\n    requestBody: requestBody\n  }\n};"
            },
            "id": "build-request",
            "name": "Build OpenAI Request",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [1450, 300]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.openai.com/v1/chat/completions",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "openAiApi",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify($json.requestBody) }}",
                "options": {}
            },
            "id": "generate-content",
            "name": "Generate Content",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [1650, 300]
        },
        {
            "parameters": {
                "jsCode": "// Parse the OpenAI response\nconst aiResponse = $input.item.json.choices[0].message.content;\n\nlet contentData;\ntry {\n  const jsonMatch = aiResponse.match(/\\{[\\s\\S]*\\}/);\n  contentData = JSON.parse(jsonMatch ? jsonMatch[0] : aiResponse);\n} catch (e) {\n  throw new Error('Failed to parse AI response as JSON: ' + aiResponse);\n}\n\nif (!contentData.caption) {\n  throw new Error('Missing caption in AI response');\n}\n\nconst hashtags = contentData.hashtags || [];\nconst hashtagString = hashtags.map(h => h.startsWith('#') ? h : '#' + h).join(' ');\nconst fullCaption = hashtags.length > 0 \n  ? `${contentData.caption}\\n\\n${hashtagString}`\n  : contentData.caption;\n\nreturn {\n  json: {\n    caption: contentData.caption,\n    hashtags: hashtags,\n    fullCaption: fullCaption,\n    topic: $node['Plan Content'].json.topic,\n    template: $node['Plan Content'].json.template,\n    timestamp: $node['Plan Content'].json.timestamp\n  }\n};"
            },
            "id": "parse-content",
            "name": "Parse Content",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [1850, 300]
        },
        {
            "parameters": {
                "resource": "post",
                "text": "={{ $json.fullCaption }}"
            },
            "id": "post-linkedin",
            "name": "Post to LinkedIn",
            "type": "n8n-nodes-base.linkedIn",
            "typeVersion": 1,
            "position": [2050, 300],
            "notes": "Text-only post. Add image support later."
        },
        {
            "parameters": {
                "authentication": "oAuth2",
                "resource": "file",
                "operation": "get",
                "owner": "jumahamdan",
                "repository": "ai-data-content-engine",
                "filePath": "automation/post_log.json",
                "asBinaryProperty": false
            },
            "id": "fetch-log",
            "name": "Fetch Existing Log",
            "type": "n8n-nodes-base.github",
            "typeVersion": 1,
            "position": [2250, 300]
        },
        {
            "parameters": {
                "jsCode": "// Parse existing log and append new entry\nlet existingPosts = [];\ntry {\n  let content;\n  if ($input.item.binary && $input.item.binary.data) {\n    content = Buffer.from($input.item.binary.data.data, 'base64').toString('utf8');\n  } else if ($input.item.json.content) {\n    content = Buffer.from($input.item.json.content, 'base64').toString('utf8');\n  } else {\n    content = JSON.stringify($input.item.json);\n  }\n  content = content.replace(/^\\uFEFF/, '');\n  const parsed = JSON.parse(content);\n  existingPosts = parsed.posts || [];\n} catch (e) {\n  existingPosts = [];\n}\n\nconst newEntry = {\n  timestamp: $node['Parse Content'].json.timestamp,\n  template: $node['Parse Content'].json.template,\n  topic: $node['Parse Content'].json.topic,\n  status: 'published',\n  linkedinPostId: $node['Post to LinkedIn'].json.id || 'N/A',\n  caption: $node['Parse Content'].json.caption.substring(0, 100) + '...',\n  hashtags: $node['Parse Content'].json.hashtags\n};\n\nexistingPosts.unshift(newEntry);\n\nif (existingPosts.length > 100) {\n  existingPosts = existingPosts.slice(0, 100);\n}\n\nreturn {\n  json: {\n    posts: existingPosts\n  }\n};"
            },
            "id": "build-log",
            "name": "Build Log Entry",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [2450, 300]
        },
        {
            "parameters": {
                "authentication": "oAuth2",
                "resource": "file",
                "operation": "edit",
                "owner": "jumahamdan",
                "repository": "ai-data-content-engine",
                "filePath": "automation/post_log.json",
                "fileContent": "={{ JSON.stringify($json, null, 2) }}",
                "commitMessage": "chore: log post {{ $node['Parse Content'].json.timestamp }}"
            },
            "id": "log-to-github",
            "name": "Log to GitHub",
            "type": "n8n-nodes-base.github",
            "typeVersion": 1,
            "position": [2650, 300]
        }
    ],
    "connections": {
        "Schedule Trigger": {
            "main": [[
                {"node": "Fetch Topics", "type": "main", "index": 0},
                {"node": "Fetch Post Log", "type": "main", "index": 0}
            ]]
        },
        "Fetch Topics": {
            "main": [[
                {"node": "Merge Inputs", "type": "main", "index": 0}
            ]]
        },
        "Fetch Post Log": {
            "main": [[
                {"node": "Merge Inputs", "type": "main", "index": 1}
            ]]
        },
        "Merge Inputs": {
            "main": [[
                {"node": "Plan Content", "type": "main", "index": 0}
            ]]
        },
        "Plan Content": {
            "main": [[
                {"node": "Fetch Prompt", "type": "main", "index": 0},
                {"node": "Fetch Tone", "type": "main", "index": 0}
            ]]
        },
        "Fetch Prompt": {
            "main": [[
                {"node": "Merge Specs", "type": "main", "index": 0}
            ]]
        },
        "Fetch Tone": {
            "main": [[
                {"node": "Merge Specs", "type": "main", "index": 1}
            ]]
        },
        "Merge Specs": {
            "main": [[
                {"node": "Build OpenAI Request", "type": "main", "index": 0}
            ]]
        },
        "Build OpenAI Request": {
            "main": [[
                {"node": "Generate Content", "type": "main", "index": 0}
            ]]
        },
        "Generate Content": {
            "main": [[
                {"node": "Parse Content", "type": "main", "index": 0}
            ]]
        },
        "Parse Content": {
            "main": [[
                {"node": "Post to LinkedIn", "type": "main", "index": 0}
            ]]
        },
        "Post to LinkedIn": {
            "main": [[
                {"node": "Fetch Existing Log", "type": "main", "index": 0}
            ]]
        },
        "Fetch Existing Log": {
            "main": [[
                {"node": "Build Log Entry", "type": "main", "index": 0}
            ]]
        },
        "Build Log Entry": {
            "main": [[
                {"node": "Log to GitHub", "type": "main", "index": 0}
            ]]
        }
    },
    "settings": {
        "executionOrder": "v1"
    }
}
